.app-box {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  font-family: sans-serif;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 500px;
}

.header {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
}

.movie {
  font-family: sans-serif;
  font-size: 20px;
  background-color: lightgrey;
}

.Watched {
  font-size: 10px;
  background-color: lightgreen;
}

.Not-Watched {
  font-size: 10px;
  background-color: lightcoral;
}

.movie-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border: 2px solid grey;
  border-radius: 5px;
  width: 400px;
  margin: 10px;
  padding: 5px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}